.gym-container{
 display: grid;
 grid-template-columns: 4fr 1fr; 
 gap: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.logo-img{
    width: 10px;
}
.side-card{
    background-color: rgba(226, 226, 226, 0.918);
    margin-right: 100px;
    font-weight: 800;
    position: sticky;
    top: 0;
    bottom: 0;
    margin-bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

